@use '../../globals.scss' as globals;

.headerstyle {
    min-height: 72px;
    padding: 0 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 18px;
    background-color: globals.$color-white-white;
    border-bottom: 8px solid globals.$color-gray-white;
   
    //Logo
    img {
    
        height: auto;
        justify-self: start;
    }

    //Dropdown
    div {
        select {
            width: 130px;
            height: 30px;
            padding: 0 8px;
            border: 2px solid globals.$color-light-green;
            background-color: globals.$color-white-white;
            font-size: 12px;
            cursor: pointer;
        }
    }

    // Lav en annonce knap
    button {
        width: 94px;
        height: 35px;
        border: none;
        background-color: globals.$color-light-green;
        color: globals.$color-white-white;
        font-size: 12px;
        cursor: pointer;

        &:hover {
            background-color: globals.$color-dark-green;
        }
    }
}


 

