@use '../../globals.scss' as globals;

.headerstyle {
    height: 7vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: globals.$color-white-white;
    figure {
        img {
            width: 10vw;
        }
    }

    ul { display: flex;
        gap: 14px;
        justify-content: end;
        margin: 32px;
        li {
            list-style-type: none
            a {
                text-decoration: none;
                color:globals.$color-white-white;
            }
        }
    }


}
